{% extends "load_manager/base/base.html" %}
{% load static %}
{% block container %}

<ul class="navbar-nav sidebar">
  <div class="sidebar-profile {% if viewtype == 'user-profile' %}active{% endif %} p-2">
    <div class="container-fluid">
      <a href="{% url 'user-profile' request.user.id %}" style="text-decoration:none;color: inherit;">
        <div class="row">
          <div class="col pt-3 center-block text-center">
            <img class="profile rounded-circle" src="/media/{{ avatar }}" >
          </div>
        </div>
        <div class="row">
          <div class="col center-block text-center">
            <h4 class="profile" style="color:white">{{ request.user.first_name }}</h4>
            <h5 class="profile" style="color:red">{{ user_type }}</h5>
          </div>

        </div>
        <div class="row">
          <div class="col center-block text-center">
            <a href="{% url 'logout' %}" style="text-decoration:none"><button type="button" class="btn btn-block btn-raised btn-danger" name="button">Logout</button></a>
          </div>
        </div>
        <br>
      </a>
    </div>
  </div>
  <li class="sb-item {% if viewtype == 'home' %}active{% endif %} dashboard">
    <a class="sb-link" href="{% url 'home' %}">
      <i class="fas fa-home"></i> <span class="sidebar-title">Home</span>
    </a>
  </li>
  <li class="sb-item {% if viewtype == 'load-manager' %}active{% endif %} dashboard">
    <a class="sb-link" href="{% url 'load-manager-list' %}">
      <i class="far fa-calendar-alt"></i> <span class="sidebar-title">Load Management</span>
    </a>
  </li>

  {% if request.user.is_staff or request.user.is_superuser %}
  <hr>
  <div class="overflow-auto">
    <li class="sb-item {% if viewtype == 'curriculum' %}active{% endif %} dashboard">
      <a class="sb-link" href="{% url 'settings-curriculum' %}">
        <i></i>
        <span class="sidebar-title">Curriculum</span>
      </a>
    </li>
    <li class="sb-item {% if viewtype == 'rooms' %}active{% endif %} dashboard">
      <a class="sb-link" href="{% url 'room' %}">
        <i></i>
        <span class="sidebar-title">Rooms</span>
      </a>
    </li>
    <li class="sb-item {% if viewtype == 'settings' %}active{% endif %} dashboard">
      <a class="sb-link" href="{% url 'settings' %}">
        <i></i>
        <span class="sidebar-title">Settings</span>
      </a>
    </li>
    <li class="sb-item {% if viewtype == 'sections' %}active{% endif %} dashboard">
      <a class="sb-link" href="{% url 'sections' %}">
        <i></i>
        <span class="sidebar-title">Sections</span>
      </a>
    </li>
    <hr>
    <li class="sb-item {% if viewtype == 'faculty-load' %}active{% endif %} dashboard">
      <a class="sb-link" href="{% url 'faculty-load' %}">
        <i></i>
        <span class="sidebar-title">Faculty Load</span>
      </a>
    </li>
    <li class="sb-item {% if viewtype == 'section-offering' %}active{% endif %} dashboard">
      <a class="sb-link" href="{% url 'section-offering' %}">
        <i></i>
        <span class="sidebar-title">Section Offering</span>
      </a>
    </li>
    <li class="sb-item {% if viewtype == 'user-pool-management' %}active{% endif %} dashboard">
      <a class="sb-link" href="{% url 'chairperson-upm' %}">
        <i></i>
        <span class="sidebar-title">Users Management</span>
      </a>
    </li>
  </div>

  {% endif %}
</ul>
<div id="main-container">
  <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4" style="z-index: 1;">
    <a href="#" class="navbar-brand mb-0 h1o"> Computer Engineering Faculty Load </a>
    {% if status != 'Locked' %}
    <h3><span class="badge {% if status == 'Not Opened' %}badge-secondary
          {% elif status == 'Open'%}badge-success
          {% elif status == 'Closed' %}badge-warning
          {% endif %}">
        {{ status }}</span></h3>
    {% endif %}
  </nav>

  <div class="content container-fluid">
    {% block content %}
    {% endblock content %}
  </div>
</div>
{% endblock container %}
