{% extends "load_manager/base/base.html" %}
{% load staticfiles %}
{% block container %}

<ul class="navbar-nav sidebar">
  <div class="sidebar-header">
    <h3>CPE<br> Department</h3>
  </div>
  <div class="sidebar-profile">

  </div>
  <li class="sb-item {% if viewtype == 'home' %}active{% endif %} dashboard">
    <a class="sb-link" href="{% url 'home' %}">
    <i></i>
    <span>Home</span>
    </a>
  </li>
<li class="sb-item {% if viewtype == 'load-manager' %}active{% endif %} dashboard">
  <a class="sb-link" href="{% url 'load-manager-list' %}">
  <i></i>
  <span>Load Management</span>
  </a>
</li>


<!--li class="sb-item">
  <a class="sb-link" href="#"></a>
</li-->
{% if request.user.is_staff %}
<hr>
<h5>Chairperson</h5>
<li class="sb-item {% if viewtype == 'curriculum' %}active{% endif %} dashboard">
  <a class="sb-link" href="{% url 'settings-curriculum' %}">
    <i></i>
    <span>Curriculum</span>
  </a>
</li>
<li class="sb-item {% if viewtype == 'settings' %}active{% endif %} dashboard">
  <a class="sb-link" href="{% url 'settings' %}">
  <i></i>
  <span>Settings</span>
  </a>
</li>
<li class="sb-item {% if viewtype == 'section-offering' %}active{% endif %} dashboard">
  <a class="sb-link" href="{% url 'section-offering' %}">
    <i></i>
    <span>Section Offering</span>
  </a>
</li>
<li class="sb-item {% if viewtype == 'user-pool-management' %}active{% endif %} dashboard">
  <a class="sb-link" href="{% url 'chairperson-upm' %}">
  <i></i>
  <span>Users Management</span>
  </a>
</li>
{% endif %}
</ul>
<div id="main-container">
  <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4" style="z-index: 1;">
      <a href="#" class="navbar-brand mb-0 h1o"> Computer Engineering Faculty Load</a>
      {% if status != 'Locked' %}
        <h3><span class="badge {% if status == 'Not Opened' %}badge-secondary
          {% elif status == 'Open'%}badge-success
          {% elif status == 'Closed' %}badge-warning
          {% endif %}">
          {{ status }}</span></h3>
      {% endif %}
  </nav>

  <div class="content container-fluid">
    {% block content %}
    {% endblock content %}
  </div>
</div>
{% endblock container %}
