{% extends 'load_manager/container/container.html' %}
{% load staticfiles %}

{% block extra_css %}
<link rel="stylesheet" href="{% static "vendor/font-awesome/css/all.min.css" %}">
<link rel="stylesheet" href="{% static "vendor/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.min.css" %}">
{% endblock %}

{% block content %}
{% include "_modal.html" %}
  <div class="card animated fadeInDown settings-card">
    <div class="card-header">
      <h5>Faculty Management</h5>
    </div>
    <div class="card-content">
      <div class="container-fluid">
        <div class="row p-3">
          <div class="col">
            <div class="table-responsive">
              <table id="users-table" class="table table-bordered table-hover" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info">
                <thead>
                  <tr role="row" >
                    <th style="width:10%">Last Name</th>
                    <th style="width:10%">First Name</th>
                    <th style="width:10%">Email Address</th>
                    <th style="width:10%">Staff Type</th>
                    <th style="width:10%">Regular Hours</th>
                    <th style="width:10%">Part Time Hours</th>
                    <th style="width:10%">Action</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
      </div>
    <div class="card-footer">
      <div class="float-right text-center">
        <button type="button" id="create-user" class="btn btn-success btn-outline-success btn-raised" name="button">Register Faculty</button>
      </div>
    </div>
  </div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript" src="{% static "vendor/DataTables/datatables.min.js" %}"></script>
<script type="text/javascript" src="{% static "vendor/DataTables/DataTables-1.10.18/js/dataTables.bootstrap4.min.js" %}"></script>
<script type="text/javascript">

  $(document).ready(function() {
    $("#create-user").modalForm({
       formURL: "{% url 'chairperson-upm-user-create' %}"
   });

    $('#users-table').DataTable({
      "ajax":{
        "processing": true,
        "dataSrc":'',
        "url": '{% url 'chairperson-upm-user-table' %}',
      },
      "initComplete": function(settings, json) {
        $(".read-user").each(function () {
          $(this).modalForm({formURL: $(this).data('id')});
          });
        $(".delete-user").each(function () {
          $(this).modalForm({formURL: $(this).data('id')});
        });
        $(".update-user").each(function () {
          $(this).modalForm({formURL: $(this).data('id')});
        });
      },
      "columnDefs": [
        { "className": 'user-lname',
          "targets":   0,
          "data": "fields.user-lname",
          },
        { "className": 'user-fname',
          "targets":   1,
          "data": "fields.user-fname",
          },
        { "className": 'email',
          "targets":   2,
          "data": 'fields.user-email',
          },
        { "className": 'user-type',
          "targets":   3,
          "data": 'fields.user-type',
          },
        { "className": 'col-quotation-description text-nowrap',
          "targets":   4,
          "data": 'fields.user-rhours',
          },
        { "className": 'col-quotation-description text-nowrap',
          "targets":   5,
          "data": 'fields.user-pthours',
          },
          { "className": 'col-quotation-description text-nowrap',
            "targets":   6,
            "data": 'fields.id',
            render:function(data, type, row)
              {
                let render = '<button type="button" class="read-user btn btn-sm btn-raised btn-primary m-1" data-id="/read/user/'+data[0]+'">'+
                  '<span class="far fa-eye"></span></button>' +
                  '<button type="button" class="delete-user btn btn-sm btn-raised btn-warning m-1" data-id="/delete/user/'+data[0]+'">'+
                    '<span class="fa fa-trash"></span></button>'+
                  '<button type="button" class="update-user btn btn-sm btn-raised btn-warning m-1" data-id="/update/user/'+data[1]+'">'+
                    '<span class="fa fa-edit"></span></button>';
                return render
              },
            },
      ],
    })
  });

  </script>
{% endblock %}
