{% extends 'load_manager/container/container.html' %}
{% load staticfiles %}

{% block extra_css %}
{% endblock %}

{% block content %}
{% include "_modal.html" %}
  <div class="card animated fadeInDown settings-card">
    <form method="POST" enctype="multipart/form-data">
    <div class="card-header">
      <h5>My Profile</h5>
    </div>
    <div class="card-content">
      <div class="container-fluid">
          {% csrf_token %}
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">@</span>
            </div>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
          </div>
      </div>
    </div>
    <div class="card-footer text-right">
      <button type="submit" class="btn btn-lg btn-success" name="button">Submit</button>
    </div>
    </form>
  </div>
{% endblock content %}

{% block extra_js %}
  <script type="text/javascript" src="{% static "vendor/DataTables/datatables.min.js" %}"></script>

  <script type="text/javascript">
  $(document).ready(function() {
    $("#create-user").modalForm({
       formURL: "{% url 'chairperson-upm-user-create' %}"
   });

    $('#users-table').DataTable({
      "ajax":{
        "processing": true,
        "dataSrc":'',
        "url": '{% url 'chairperson-upm-user-table' %}',
      },
      "columnDefs": [
        { "className": 'user-lname',
          "targets":   0,
          "data": "fields.user-lname",
          },
        { "className": 'user-fname',
          "targets":   1,
          "data": "fields.user-fname",
          },
        { "className": 'email',
          "targets":   2,
          "data": 'fields.user-email',
          },
        { "className": 'user-type',
          "targets":   3,
          "data": 'fields.user-type',
          },
        { "className": 'col-quotation-description text-nowrap',
          "targets":   4,
          "data": 'fields.user-rhours',
          },
        { "className": 'col-quotation-description text-nowrap',
          "targets":   5,
          "data": 'fields.user-pthours',
          },
          { "className": 'col-quotation-description text-nowrap',
            "targets":   6,
            "data": null,
            render:function(data, type, row)
              {
                var url = 'sys/project/{{ project.id }}/quote-to-invoice/'+data.pk;
                return '<button type="button" class="read btn btn-sm btn-primary m-1" data-id="">'+
                  '<span class="fa fa-eye"></span></button>'
              },
            },
      ],
    })
  });

  </script>
{% endblock %}
