{% extends 'load_manager/container/container.html' %}
{% load static %}

{% block extra_css %}
<!-- SELECT2 -->
<link rel="stylesheet" href="{% static "vendor/font-awesome/css/all.min.css" %}">
<link rel="stylesheet" href="{% static "vendor/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.min.css" %}">
<link href="{% static "vendor/select2/css/select2.min.css" %}" rel="stylesheet" />
<!-- DATATABLES-->
{% endblock %}
{% block content %}
{% include "_modal.html" %}
<div class="card animated fadeInDown settings-card">
  <div class="card-header">
    <h5>Curriculum</h5>
  </div>
  <div class="card-content">
    <div class="container-fluid">
      <div class="row">
        <!-- <select class="form-control" id="curriculum-select" name="curriculum" style="width:150px;">
          {% for curriculum in curriculums %}
          <option value="{{ curriculum.pk }}">{{ curriculum }}</option>
          {% endfor %}
        </select> -->
      </div>
      <div class="row p-3">
        <div class="col">
          <div class="table-responsive">
            <table id="curriculum-table" class="table table-bordered table-hover" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info">
              <thead>
                <tr role="row" class="text-center">
                  <th style="width:10%">Curriculum</th>
                  <th style="width:10%">Description</th>
                  <th style="width:10%">Actions</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">

  </div>
</div>
{% endblock content %}

{% block extra_js %}
<!-- SELECT2 -->
<script src="{% static "vendor/select2/js/select2.min.js" %}"></script>
<script type="text/javascript" src="{% static "vendor/DataTables/datatables.min.js" %}"></script>
<script type="text/javascript">

  $(document).ready(function () {

    $('#curriculum-select').select2({
      // maximumSelectionLength: 3,
    });
    $('#curriculum-select').on('select2:select', function (e) {
      alert('wow');
    });

    var tables = '/' + $('#curriculum-select').val() + '/subjects/';
    $('#curriculum-table').DataTable({
      "dataType": 'json',
      "dom": "<'row'<'col-md-4'l><'col-md-8'<'row float-right'<'col-6 upload-cur'><'col-6 'Bf>>>>" +
            "<'row'<'col-md-6'><'col-md-6'>>" +
            "<'row'<'col-md-12't>><'row'<'col-md-12'ip>>",
      "initComplete": function(settings, json) {
        $("div.upload-cur").html('<button type="button" id="curriculum-upload" class="float-right btn btn-s btn-success btn-raised" name="button">Upload <i class="fas fa-file-upload"></i></button>');
        $(".delete-curriculum").each(function () {
          $(this).modalForm({formURL: $(this).data('id')});
        });
        $(".update-curriculum").each(function () {
          $(this).modalForm({formURL: $(this).data('id')});
        });
        $("#curriculum-upload").modalForm({
          formURL: "{% url 'settings-curriculum-upload' %}"
        });
      },
      "ajax": {
        "processing": true,
        "dataSrc": '',
        "url": "{% url 'chairperson-curriculum-table'  %}",
      },
      "columnDefs": [
        {
          "className": 'col-curriculum-name text-center',
          "targets": 0,
          "data": "fields.curriculum-name",
        },
        {
          "className": 'col-curriculum-description text-center',
          "targets": 1,
          "data": "fields.curriculum-description",
        },
        {
          "className": 'col-curriculum-edit text-center',
          "targets": 2,
          "data": "fields.curriculum-pk",
          render: function (data, type, row) {
            let render = '<a href="/chairperson/curriculum/' + data + '"><button type="button" class="btn btn-sm btn-raised btn-info m-1">'+
              'VIEW SUBJECTS <span class="fa fa-eye"></span></button></a>' +
              '<button type="button" class="delete-curriculum btn btn-sm btn-raised btn-warning m-1" data-id="/delete/curriculum/'+data+'">'+
              '<span class="fa fa-trash"></span></button>'+
              '<button type="button" class="update-curriculum btn btn-sm btn-raised btn-success m-1" data-id="/update/curriculum/'+data+'">'+
                '<span class="fa fa-edit"></span></button>';
            return render
          }

        },
      ]
    })
  });


</script>

{% endblock %}
