/* https://fezvrasta.github.io/bootstrap-material-design/docs/4.0/getting-started/download/ */
@import url('https://fonts.googleapis.com/css?family=Montserrat:900&display=swap');

.hide {
  visibility: hidden;
  display: none;
}
.wrapper{
  display: flex;
}

#schedule-table.table-bordered > thead > tr > th{
    border:1px solid black;
}
#schedule-table.table-bordered > thead > tr > td{
    border:1px solid black;
}
#schedule-table.table-bordered > tbody > tr > th{
    border:1px solid black;
}
#schedule-table.table-bordered > tbody > tr > td{
    border:1px solid black;
}
.table-responsive::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.table-responsive::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.table-responsive::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.sidebar{
  width: 20rem;
  min-height: 100vh;
  position: fixed;
  background-color: #283847;
  z-index: 2;
  margin-top: 0;
  line-height:1rem;
}
.sidebar hr {
  border-top: 1px solid rgba(255, 255, 255, .15);
  margin: 0 1rem 0.3em;
}
.sidebar-header{
  background-color: #23333e;
  padding: 1rem;
}
.sidebar-profile {
  transition: 0.3s;
}
.sidebar-profile.active {
  background-color: #384d5b; !important;
}
.sidebar-profile:hover {
  background-color: #384d5b;
}

.sidebar-header  h3 {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.sidebar .sb-item .sb-link {
  display: block;
  text-align: left;
  text-transform: uppercase;
  color: white;
  padding: 1rem;
  text-decoration: none;
  transition: 0.3s;
}

.sidebar .sb-item .sb-link:hover {
  border-left: 5px solid red;
  background-color: #384d5b;
}
.sb-item.active {
  background-color: #384d5b; !important;
}
.sb-item.active.dashboard{
  border-left: 5px solid red;
}

img.profile {
  height: 100px;
  width: 100px;
}
#main-container {
  background-color: #384d5b;
  padding: 1.5rem;
  margin-left: 20rem;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.clabel{
  position: relative !important;
}

.settings-card{
  margin-top:5vh;
}

.settings-card > .card-header{
  padding-top: 1rem !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  padding-bottom: 0 !important;
}
.settings-card > .card-header > h5 {
  text-transform: uppercase;
}
.curriculum .bmd-form-group{
  padding-top: 0 !important;
}

@media only screen and (max-width: 400px) {

}

@media only screen and (max-width: 768px) {
  #main-container {
    margin-left: 6.5rem;
  }
  .sidebar{
    width: 6.5rem;
  }
  .sidebar-title{
    font-size: 0.5rem;
  }
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}
