/* https://fezvrasta.github.io/bootstrap-material-design/docs/4.0/getting-started/download/ */

.container{
  margin-left: auto;
  margin-right: auto;

}
.login-card {
  margin-top: 10vh !important;
  margin-left: auto;
  margin-right: auto;
  display: block;
  animation-duration: 0.25s;
  width:500px;
}
