{% extends 'load_manager/container/container.html' %}
{% load staticfiles %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static "load_manager.css" %}">
  <link rel="stylesheet" href="{% static "vendor/DataTables/datatables.min.css" %}">
{% endblock %}

{% block extra_js %}
  <script type="text/javascript" src="{% static "vendor/DataTables/datatables.min.js" %}"></script>

  <script type="text/javascript">
  $('#psched-table').DataTable( {
    // "select": true,
    // "buttons": true,
    "dataType":'json',
    // "ajax": {
    //  "processing": true,
    //  "dataSrc":'',
    //  "url": url,
    // },
    // "columnDefs": [
    //   { "className": 'col-id',
    //     "targets":   0,
    //     "data": "fields.quantity",
    //     },
    //   { "className": 'col-date-created',
    //     "targets":   1,
    //     "data": "fields.product",
    //     },
    //   { "className": 'col-quotation-description text-nowrap',
    //     "targets":   2,
    //     "data": 'fields.price',
    //   },
    //   { "className": 'col-quotation-description text-nowrap',
    //     "targets":   3,
    //     "data": 'fields.total',
    //   },
    // ],
    // dom:"<'row'<'col-sm-12 col-md-12 border p-2'f>>" + //<'col-sm-12 col-md-6'f>
    //       "<'row'<'col-sm-12'tr>>" ,
  });
  </script>
{% endblock %}
{% block content %}


<div class="card animated fadeInDown lm-current">
  <div class="card-header">
    <h5>Current Submission</h5>
  </div>
  <div class="card-content">
    <div class="container-fluid">
      {% if submission %}
      <p>Status:</p>
      <p>Subjects:</p>
      <ul>
        {% for subject in psubj.preferred_subject.all %}
          <li>{{ subject }}</li>
        {% endfor %}
      </ul>

      {% else %}
      <button type="button" class="btn btn-raised btn-lg"><a href="{% url 'load-manager-create' %}">SUBMIT PREFERRED SCHEDULE</a> </button>
      {% endif %}

      </div>
    </div>

</div>

<div class="card animated fadeInDown lm-list">
  <div class="card-header">
    <h5>All Submissions</h5>
  </div>
  <div class="card-content">
    <table id="psched-table" class="table table-bordered table-hover" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info">
       <thead >
         <tr role="row" class="text-center">
           <th>ID</th>
           <th>Date Created</th>
           <th>Description</th>

         </tr>
       </thead>
       <tbody></tbody>
  </table>
  </div>
</div>
{% endblock %}
