{% extends 'users/container/container.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card animated fadeInDown login-card">
 <div class="view">
   <img height="250px" width="125px"
        class="card-img-top"
        src="https://upload.wikimedia.org/wikipedia/commons/b/b6/PUP_Engineering_and_Architecture_Building_Front_view.jpg">
 </div>
 <div class="card-content">
   <form method="POST" class="text-center border border-light p-3">
       {% csrf_token %}
       {{ form|crispy }}
       <button class="btn btn-success btn-raised btn-block" type="submit">LOGIN</button>
       <a href="{% url 'home' %}" style="text-decoration:none;"><button type="button" class="btn btn-primary btn-block">Forgot Password</button></a>
   </form>
 </div>
</div>
{% endblock content %}
