{% extends 'container/container.html' %}
{% load staticfiles %}
{% block content %}
{% for field in form %}
    <label>
        <input type="checkbox">
        <span>{{ field.name }}</span>
    </label>
{% endfor %}
{% block header %}
{% endblock header %}
<div class="row">
    <h4>Preferred Schedule</h4><br>
    <form action="#">
        <table class="centered">
            <thead>
                <tr>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                    <th>Sunday</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><label><input type="checkbox" name="mon01" value="mon01"><span>07:30-08:00</span></label></td>
                    <td><label><input type="checkbox" name="tue01" value="tue01"><span>07:30-08:00</span></label></td>
                    <td><label><input type="checkbox" name="wed01" value="wed01"><span>07:30-08:00</span></label></td>
                    <td><label><input type="checkbox" name="thu01" value="thu01"><span>07:30-08:00</span></label></td>
                    <td><label><input type="checkbox" name="fri01" value="fri01"><span>07:30-08:00</span></label></td>
                    <td><label><input type="checkbox" name="sat01" value="sat01"><span>07:30-08:00</span></label></td>
                    <td><label><input type="checkbox" name="sun01" value="sun01"><span>07:30-08:00</span></label></td>
                </tr>
                <tr>
                    <td><label><input type="checkbox" name="mon02" value="mon02"><span>08:00-08:30</span></label></td>
                    <td><label><input type="checkbox" name="tue02" value="tue02"><span>08:00-08:30</span></label></td>
                    <td><label><input type="checkbox" name="wed02" value="wed02"><span>08:00-08:30</span></label></td>
                    <td><label><input type="checkbox" name="thu02" value="thu02"><span>08:00-08:30</span></label></td>
                    <td><label><input type="checkbox" name="fri02" value="fri02"><span>08:00-08:30</span></label></td>
                    <td><label><input type="checkbox" name="sat02" value="sat02"><span>08:00-08:30</span></label></td>
                    <td><label><input type="checkbox" name="sun02" value="sun02"><span>08:00-08:30</span></label></td>
                </tr>
                <tr>
                    <td><label><input type="checkbox" name="mon03" value="mon03"><span>08:30-09:00</span></label></td>
                    <td><label><input type="checkbox" name="tue03" value="tue03"><span>08:30-09:00</span></label></td>
                    <td><label><input type="checkbox" name="wed03" value="wed03"><span>08:30-09:00</span></label></td>
                    <td><label><input type="checkbox" name="thu03" value="thu03"><span>08:30-09:00</span></label></td>
                    <td><label><input type="checkbox" name="fri03" value="fri03"><span>08:30-09:00</span></label></td>
                    <td><label><input type="checkbox" name="sat03" value="sat03"><span>08:30-09:00</span></label></td>
                    <td><label><input type="checkbox" name="sun03" value="sun03"><span>08:30-09:00</span></label></td>
                </tr>
            </tbody>
        </table><br>
        <button class="sample" type="submit">Confirm</button>
    </form>
</div>

{% endblock content %}