{% extends 'container/container.html' %}
{% load staticfiles %}
{% block content %}
{% for field in form %}
    <label>
        <input type="checkbox">
        <span>{{ field.name }}</span>
    </label>
{% endfor %}
{% block header %}
{% endblock header %}
<div class="full-row">
    <form action="#" method="POST">
        {% csrf_token %}
        <h4>Preferred Schedule</h4><br>
        <div class="grid-container">
            <div class="grid-item">Monday</div>
            <div class="grid-item">Tuesday</div>
            <div class="grid-item">Wednesday</div>  
            <div class="grid-item">Thursday</div>
            <div class="grid-item">Friday</div>
            <div class="grid-item">Saturday</div>  
            <div class="grid-item">Sunday</div>
        </div>
        <table class="centered">
            <thead>
                <tr>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                    <th>Sunday</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><label><input type="checkbox" name="mon01" value="mon01"><span>07:30-08:00</span></label></td>
                    <td><label><input type="checkbox" name="tue01" value="tue01"><span>07:30-08:00</span></label></td>
                    <td><label><input type="checkbox" name="wed01" value="wed01"><span>07:30-08:00</span></label></td>
                    <td><label><input type="checkbox" name="thu01" value="thu01"><span>07:30-08:00</span></label></td>
                    <td><label><input type="checkbox" name="fri01" value="fri01"><span>07:30-08:00</span></label></td>
                    <td><label><input type="checkbox" name="sat01" value="sat01"><span>07:30-08:00</span></label></td>
                    <td><label><input type="checkbox" name="sun01" value="sun01"><span>07:30-08:00</span></label></td>
                </tr>
                <tr>
                    <td><label><input type="checkbox" name="mon02" value="mon02"><span>08:00-08:30</span></label></td>
                    <td><label><input type="checkbox" name="tue02" value="tue02"><span>08:00-08:30</span></label></td>
                    <td><label><input type="checkbox" name="wed02" value="wed02"><span>08:00-08:30</span></label></td>
                    <td><label><input type="checkbox" name="thu02" value="thu02"><span>08:00-08:30</span></label></td>
                    <td><label><input type="checkbox" name="fri02" value="fri02"><span>08:00-08:30</span></label></td>
                    <td><label><input type="checkbox" name="sat02" value="sat02"><span>08:00-08:30</span></label></td>
                    <td><label><input type="checkbox" name="sun02" value="sun02"><span>08:00-08:30</span></label></td>
                </tr>
                <tr>
                    <td><label><input type="checkbox" name="mon03" value="mon03"><span>08:30-09:00</span></label></td>
                    <td><label><input type="checkbox" name="tue03" value="tue03"><span>08:30-09:00</span></label></td>
                    <td><label><input type="checkbox" name="wed03" value="wed03"><span>08:30-09:00</span></label></td>
                    <td><label><input type="checkbox" name="thu03" value="thu03"><span>08:30-09:00</span></label></td>
                    <td><label><input type="checkbox" name="fri03" value="fri03"><span>08:30-09:00</span></label></td>
                    <td><label><input type="checkbox" name="sat03" value="sat03"><span>08:30-09:00</span></label></td>
                    <td><label><input type="checkbox" name="sun03" value="sun03"><span>08:30-09:00</span></label></td>
                </tr>
                <tr>
                    <td><label><input type="checkbox" name="mon04" value="mon04"><span>09:00-09:30</span></label></td>
                    <td><label><input type="checkbox" name="tue04" value="tue04"><span>09:00-09:30</span></label></td>
                    <td><label><input type="checkbox" name="wed04" value="wed04"><span>09:00-09:30</span></label></td>
                    <td><label><input type="checkbox" name="thu04" value="thu04"><span>09:00-09:30</span></label></td>
                    <td><label><input type="checkbox" name="fri04" value="fri04"><span>09:00-09:30</span></label></td>
                    <td><label><input type="checkbox" name="sat04" value="sat04"><span>09:00-09:30</span></label></td>
                    <td><label><input type="checkbox" name="sun04" value="sun04"><span>09:00-09:30</span></label></td>
                </tr>
                <tr>
                    <td><label><input type="checkbox" name="mon05" value="mon05"><span>09:30-10:00</span></label></td>
                    <td><label><input type="checkbox" name="tue05" value="tue05"><span>09:30-10:00</span></label></td>
                    <td><label><input type="checkbox" name="wed05" value="wed05"><span>09:30-10:00</span></label></td>
                    <td><label><input type="checkbox" name="thu05" value="thu05"><span>09:30-10:00</span></label></td>
                    <td><label><input type="checkbox" name="fri05" value="fri05"><span>09:30-10:00</span></label></td>
                    <td><label><input type="checkbox" name="sat05" value="sat05"><span>09:30-10:00</span></label></td>
                    <td><label><input type="checkbox" name="sun05" value="sun05"><span>09:30-10:00</span></label></td>
                </tr>
                <tr>
                    <td><label><input type="checkbox" name="mon06" value="mon06"><span>10:00-10:30</span></label></td>
                    <td><label><input type="checkbox" name="tue06" value="tue06"><span>10:00-10:30</span></label></td>
                    <td><label><input type="checkbox" name="wed06" value="wed06"><span>10:00-10:30</span></label></td>
                    <td><label><input type="checkbox" name="thu06" value="thu06"><span>10:00-10:30</span></label></td>
                    <td><label><input type="checkbox" name="fri06" value="fri06"><span>10:00-10:30</span></label></td>
                    <td><label><input type="checkbox" name="sat06" value="sat06"><span>10:00-10:30</span></label></td>
                    <td><label><input type="checkbox" name="sun06" value="sun06"><span>10:00-10:30</span></label></td>
                </tr>
                <tr>
                    <td><label><input type="checkbox" name="mon07" value="mon07"><span>10:30-11:00</span></label></td>
                    <td><label><input type="checkbox" name="tue07" value="tue07"><span>10:30-11:00</span></label></td>
                    <td><label><input type="checkbox" name="wed07" value="wed07"><span>10:30-11:00</span></label></td>
                    <td><label><input type="checkbox" name="thu07" value="thu07"><span>10:30-11:00</span></label></td>
                    <td><label><input type="checkbox" name="fri07" value="fri07"><span>10:30-11:00</span></label></td>
                    <td><label><input type="checkbox" name="sat07" value="sat07"><span>10:30-11:00</span></label></td>
                    <td><label><input type="checkbox" name="sun07" value="sun07"><span>10:30-11:00</span></label></td>
                </tr>
                <tr>
                    <td><label><input type="checkbox" name="mon08" value="mon08"><span>11:00-11:30</span></label></td>
                    <td><label><input type="checkbox" name="tue08" value="tue08"><span>11:00-11:30</span></label></td>
                    <td><label><input type="checkbox" name="wed08" value="wed08"><span>11:00-11:30</span></label></td>
                    <td><label><input type="checkbox" name="thu08" value="thu08"><span>11:00-11:30</span></label></td>
                    <td><label><input type="checkbox" name="fri08" value="fri08"><span>11:00-11:30</span></label></td>
                    <td><label><input type="checkbox" name="sat08" value="sat08"><span>11:00-11:30</span></label></td>
                    <td><label><input type="checkbox" name="sun08" value="sun08"><span>11:00-11:30</span></label></td>
                </tr>
                <tr>
                    <td><label><input type="checkbox" name="mon09" value="mon09"><span>11:30-12:00</span></label></td>
                    <td><label><input type="checkbox" name="tue09" value="tue09"><span>11:30-12:00</span></label></td>
                    <td><label><input type="checkbox" name="wed09" value="wed09"><span>11:30-12:00</span></label></td>
                    <td><label><input type="checkbox" name="thu09" value="thu09"><span>11:30-12:00</span></label></td>
                    <td><label><input type="checkbox" name="fri09" value="fri09"><span>11:30-12:00</span></label></td>
                    <td><label><input type="checkbox" name="sat09" value="sat09"><span>11:30-12:00</span></label></td>
                    <td><label><input type="checkbox" name="sun09" value="sun09"><span>11:30-12:00</span></label></td>
                </tr>
                <tr>
                    <td><label><input type="checkbox" name="mon10" value="mon10"><span>12:00-12:30</span></label></td>
                    <td><label><input type="checkbox" name="tue10" value="tue10"><span>12:00-12:30</span></label></td>
                    <td><label><input type="checkbox" name="wed10" value="wed10"><span>12:00-12:30</span></label></td>
                    <td><label><input type="checkbox" name="thu10" value="thu10"><span>12:00-12:30</span></label></td>
                    <td><label><input type="checkbox" name="fri10" value="fri10"><span>12:00-12:30</span></label></td>
                    <td><label><input type="checkbox" name="sat10" value="sat10"><span>12:00-12:30</span></label></td>
                    <td><label><input type="checkbox" name="sun10" value="sun10"><span>12:00-12:30</span></label></td>
                </tr>
                <tr>
                    <td><label><input type="checkbox" name="mon11" value="mon11"><span>12:30-13:00</span></label></td>
                    <td><label><input type="checkbox" name="tue11" value="tue11"><span>12:30-13:00</span></label></td>
                    <td><label><input type="checkbox" name="wed11" value="wed11"><span>12:30-13:00</span></label></td>
                    <td><label><input type="checkbox" name="thu11" value="thu11"><span>12:30-13:00</span></label></td>
                    <td><label><input type="checkbox" name="fri11" value="fri11"><span>12:30-13:00</span></label></td>
                    <td><label><input type="checkbox" name="sat11" value="sat11"><span>12:30-13:00</span></label></td>
                    <td><label><input type="checkbox" name="sun11" value="sun11"><span>12:30-13:00</span></label></td>
                </tr>
                <tr>
                    <td><label><input type="checkbox" name="mon12" value="mon12"><span>13:00-13:30</span></label></td>
                    <td><label><input type="checkbox" name="tue12" value="tue12"><span>13:00-13:30</span></label></td>
                    <td><label><input type="checkbox" name="wed12" value="wed12"><span>13:00-13:30</span></label></td>
                    <td><label><input type="checkbox" name="thu12" value="thu12"><span>13:00-13:30</span></label></td>
                    <td><label><input type="checkbox" name="fri12" value="fri12"><span>13:00-13:30</span></label></td>
                    <td><label><input type="checkbox" name="sat12" value="sat12"><span>13:00-13:30</span></label></td>
                    <td><label><input type="checkbox" name="sun12" value="sun12"><span>13:00-13:30</span></label></td>
                </tr>
                <tr>
                    <td><label><input type="checkbox" name="mon13" value="mon13"><span>13:30-14:00</span></label></td>
                    <td><label><input type="checkbox" name="tue13" value="tue13"><span>13:30-14:00</span></label></td>
                    <td><label><input type="checkbox" name="wed13" value="wed13"><span>13:30-14:00</span></label></td>
                    <td><label><input type="checkbox" name="thu13" value="thu13"><span>13:30-14:00</span></label></td>
                    <td><label><input type="checkbox" name="fri13" value="fri13"><span>13:30-14:00</span></label></td>
                    <td><label><input type="checkbox" name="sat13" value="sat13"><span>13:30-14:00</span></label></td>
                    <td><label><input type="checkbox" name="sun13" value="sun13"><span>13:30-14:00</span></label></td>
                </tr>
                <tr>
                    <td><label><input type="checkbox" name="mon14" value="mon14"><span>14:00-14:30</span></label></td>
                    <td><label><input type="checkbox" name="tue14" value="tue14"><span>14:00-14:30</span></label></td>
                    <td><label><input type="checkbox" name="wed14" value="wed14"><span>14:00-14:30</span></label></td>
                    <td><label><input type="checkbox" name="thu14" value="thu14"><span>14:00-14:30</span></label></td>
                    <td><label><input type="checkbox" name="fri14" value="fri14"><span>14:00-14:30</span></label></td>
                    <td><label><input type="checkbox" name="sat14" value="sat14"><span>14:00-14:30</span></label></td>
                    <td><label><input type="checkbox" name="sun14" value="sun14"><span>14:00-14:30</span></label></td>
                </tr>
                <tr>
                    <td><label><input type="checkbox" name="mon15" value="mon15"><span>14:30-15:00</span></label></td>
                    <td><label><input type="checkbox" name="tue15" value="tue15"><span>14:30-15:00</span></label></td>
                    <td><label><input type="checkbox" name="wed15" value="wed15"><span>14:30-15:00</span></label></td>
                    <td><label><input type="checkbox" name="thu15" value="thu15"><span>14:30-15:00</span></label></td>
                    <td><label><input type="checkbox" name="fri15" value="fri15"><span>14:30-15:00</span></label></td>
                    <td><label><input type="checkbox" name="sat15" value="sat15"><span>14:30-15:00</span></label></td>
                    <td><label><input type="checkbox" name="sun15" value="sun15"><span>14:30-15:00</span></label></td>
                </tr>
                <tr>
                    <td><label><input type="checkbox" name="mon16" value="mon16"><span>15:00-15:30</span></label></td>
                    <td><label><input type="checkbox" name="tue16" value="tue16"><span>15:00-15:30</span></label></td>
                    <td><label><input type="checkbox" name="wed16" value="wed16"><span>15:00-15:30</span></label></td>
                    <td><label><input type="checkbox" name="thu16" value="thu16"><span>15:00-15:30</span></label></td>
                    <td><label><input type="checkbox" name="fri16" value="fri16"><span>15:00-15:30</span></label></td>
                    <td><label><input type="checkbox" name="sat16" value="sat16"><span>15:00-15:30</span></label></td>
                    <td><label><input type="checkbox" name="sun16" value="sun16"><span>15:00-15:30</span></label></td>
                </tr>
                <tr>
                    <td><label><input type="checkbox" name="mon17" value="mon17"><span>15:30-16:00</span></label></td>
                    <td><label><input type="checkbox" name="tue17" value="tue17"><span>15:30-16:00</span></label></td>
                    <td><label><input type="checkbox" name="wed17" value="wed17"><span>15:30-16:00</span></label></td>
                    <td><label><input type="checkbox" name="thu17" value="thu17"><span>15:30-16:00</span></label></td>
                    <td><label><input type="checkbox" name="fri17" value="fri17"><span>15:30-16:00</span></label></td>
                    <td><label><input type="checkbox" name="sat17" value="sat17"><span>15:30-16:00</span></label></td>
                    <td><label><input type="checkbox" name="sun17" value="sun17"><span>15:30-16:00</span></label></td>
                </tr>
                <tr>
                    <td><label><input type="checkbox" name="mon18" value="mon18"><span>16:00-16:30</span></label></td>
                    <td><label><input type="checkbox" name="tue18" value="tue18"><span>16:00-16:30</span></label></td>
                    <td><label><input type="checkbox" name="wed18" value="wed18"><span>16:00-16:30</span></label></td>
                    <td><label><input type="checkbox" name="thu18" value="thu18"><span>16:00-16:30</span></label></td>
                    <td><label><input type="checkbox" name="fri18" value="fri18"><span>16:00-16:30</span></label></td>
                    <td><label><input type="checkbox" name="sat18" value="sat18"><span>16:00-16:30</span></label></td>
                    <td><label><input type="checkbox" name="sun18" value="sun18"><span>16:00-16:30</span></label></td>
                </tr>
                <tr>
                    <td><label><input type="checkbox" name="mon19" value="mon19"><span>16:30-17:00</span></label></td>
                    <td><label><input type="checkbox" name="tue19" value="tue19"><span>16:30-17:00</span></label></td>
                    <td><label><input type="checkbox" name="wed19" value="wed19"><span>16:30-17:00</span></label></td>
                    <td><label><input type="checkbox" name="thu19" value="thu19"><span>16:30-17:00</span></label></td>
                    <td><label><input type="checkbox" name="fri19" value="fri19"><span>16:30-17:00</span></label></td>
                    <td><label><input type="checkbox" name="sat19" value="sat19"><span>16:30-17:00</span></label></td>
                    <td><label><input type="checkbox" name="sun19" value="sun19"><span>16:30-17:00</span></label></td>
                </tr>
                <tr>
                    <td><label><input type="checkbox" name="mon20" value="mon20"><span>17:00-17:30</span></label></td>
                    <td><label><input type="checkbox" name="tue20" value="tue20"><span>17:00-17:30</span></label></td>
                    <td><label><input type="checkbox" name="wed20" value="wed20"><span>17:00-17:30</span></label></td>
                    <td><label><input type="checkbox" name="thu20" value="thu20"><span>17:00-17:30</span></label></td>
                    <td><label><input type="checkbox" name="fri20" value="fri20"><span>17:00-17:30</span></label></td>
                    <td><label><input type="checkbox" name="sat20" value="sat20"><span>17:00-17:30</span></label></td>
                    <td><label><input type="checkbox" name="sun20" value="sun20"><span>17:00-17:30</span></label></td>
                </tr>
                <tr>
                    <td><label><input type="checkbox" name="mon21" value="mon21"><span>17:30-18:00</span></label></td>
                    <td><label><input type="checkbox" name="tue21" value="tue21"><span>17:30-18:00</span></label></td>
                    <td><label><input type="checkbox" name="wed21" value="wed21"><span>17:30-18:00</span></label></td>
                    <td><label><input type="checkbox" name="thu21" value="thu21"><span>17:30-18:00</span></label></td>
                    <td><label><input type="checkbox" name="fri21" value="fri21"><span>17:30-18:00</span></label></td>
                    <td><label><input type="checkbox" name="sat21" value="sat21"><span>17:30-18:00</span></label></td>
                    <td><label><input type="checkbox" name="sun21" value="sun21"><span>17:30-18:00</span></label></td>
                </tr>
                <tr>
                    <td><label><input type="checkbox" name="mon22" value="mon22"><span>18:00-18:30</span></label></td>
                    <td><label><input type="checkbox" name="tue22" value="tue22"><span>18:00-18:30</span></label></td>
                    <td><label><input type="checkbox" name="wed22" value="wed22"><span>18:00-18:30</span></label></td>
                    <td><label><input type="checkbox" name="thu22" value="thu22"><span>18:00-18:30</span></label></td>
                    <td><label><input type="checkbox" name="fri22" value="fri22"><span>18:00-18:30</span></label></td>
                    <td><label><input type="checkbox" name="sat22" value="sat22"><span>18:00-18:30</span></label></td>
                    <td><label><input type="checkbox" name="sun22" value="sun22"><span>18:00-18:30</span></label></td>
                </tr>
                <tr>
                    <td><label><input type="checkbox" name="mon23" value="mon23"><span>18:30-19:00</span></label></td>
                    <td><label><input type="checkbox" name="tue23" value="tue23"><span>18:30-19:00</span></label></td>
                    <td><label><input type="checkbox" name="wed23" value="wed23"><span>18:30-19:00</span></label></td>
                    <td><label><input type="checkbox" name="thu23" value="thu23"><span>18:30-19:00</span></label></td>
                    <td><label><input type="checkbox" name="fri23" value="fri23"><span>18:30-19:00</span></label></td>
                    <td><label><input type="checkbox" name="sat23" value="sat23"><span>18:30-19:00</span></label></td>
                    <td><label><input type="checkbox" name="sun23" value="sun23"><span>18:30-19:00</span></label></td>
                </tr>
                <tr>
                    <td><label><input type="checkbox" name="mon24" value="mon24"><span>19:00-19:30</span></label></td>
                    <td><label><input type="checkbox" name="tue24" value="tue24"><span>19:00-19:30</span></label></td>
                    <td><label><input type="checkbox" name="wed24" value="wed24"><span>19:00-19:30</span></label></td>
                    <td><label><input type="checkbox" name="thu24" value="thu24"><span>19:00-19:30</span></label></td>
                    <td><label><input type="checkbox" name="fri24" value="fri24"><span>19:00-19:30</span></label></td>
                    <td><label><input type="checkbox" name="sat24" value="sat24"><span>19:00-19:30</span></label></td>
                    <td><label><input type="checkbox" name="sun24" value="sun24"><span>19:00-19:30</span></label></td>
                </tr>
                <tr>
                    <td><label><input type="checkbox" name="mon25" value="mon25"><span>19:30-20:00</span></label></td>
                    <td><label><input type="checkbox" name="tue25" value="tue25"><span>19:30-20:00</span></label></td>
                    <td><label><input type="checkbox" name="wed25" value="wed25"><span>19:30-20:00</span></label></td>
                    <td><label><input type="checkbox" name="thu25" value="thu25"><span>19:30-20:00</span></label></td>
                    <td><label><input type="checkbox" name="fri25" value="fri25"><span>19:30-20:00</span></label></td>
                    <td><label><input type="checkbox" name="sat25" value="sat25"><span>19:30-20:00</span></label></td>
                    <td><label><input type="checkbox" name="sun25" value="sun25"><span>19:30-20:00</span></label></td>
                </tr>
                <tr>
                    <td><label><input type="checkbox" name="mon26" value="mon26"><span>20:00-20:30</span></label></td>
                    <td><label><input type="checkbox" name="tue26" value="tue26"><span>20:00-20:30</span></label></td>
                    <td><label><input type="checkbox" name="wed26" value="wed26"><span>20:00-20:30</span></label></td>
                    <td><label><input type="checkbox" name="thu26" value="thu26"><span>20:00-20:30</span></label></td>
                    <td><label><input type="checkbox" name="fri26" value="fri26"><span>20:00-20:30</span></label></td>
                    <td><label><input type="checkbox" name="sat26" value="sat26"><span>20:00-20:30</span></label></td>
                    <td><label><input type="checkbox" name="sun26" value="sun26"><span>20:00-20:30</span></label></td>
                </tr>
                <tr>
                    <td><label><input type="checkbox" name="mon27" value="mon27"><span>20:30-21:00</span></label></td>
                    <td><label><input type="checkbox" name="tue27" value="tue27"><span>20:30-21:00</span></label></td>
                    <td><label><input type="checkbox" name="wed27" value="wed27"><span>20:30-21:00</span></label></td>
                    <td><label><input type="checkbox" name="thu27" value="thu27"><span>20:30-21:00</span></label></td>
                    <td><label><input type="checkbox" name="fri27" value="fri27"><span>20:30-21:00</span></label></td>
                    <td><label><input type="checkbox" name="sat27" value="sat27"><span>20:30-21:00</span></label></td>
                    <td><label><input type="checkbox" name="sun27" value="sun27"><span>20:30-21:00</span></label></td>
                </tr>
            </tbody>
        </table><br>
        <button class="sample" type="submit">Submit</button>
    </form>
</div>

{% endblock content %}