{% extends 'load_manager/container/container.html' %}
{% load staticfiles %}
{% block extra_css %}
<!-- SELECT2 -->
<link href="{% static "vendor/select2/css/select2.min.css" %}" rel="stylesheet" />
<link href="{%static "js/ploadcss.css" %}" rel="stylesheet" />

{% endblock %}
{% block extra_js %}
<!-- SELECT2 -->
<script src="{% static "js/ploadscript.js" %}"></script>
<script src="{% static "vendor/select2/js/select2.min.js" %}"></script>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>

<script type="text/javascript">
  $(document).ready(function() {
    $('.psubject-select').select2({
      maximumSelectionLength: 3,
    });
  });
</script>

{% endblock %}
{% block content %}
{% for field in form %}
    <label>
        <input type="checkbox">
        <span>{{ field.name }}</span>
    </label>
{% endfor %}
<div class="card animated fadeInDown lm-current">
  <div class="card-header">
    <h4>Preferred Schedule</h4>
  </div>
  <div class="card-content">

    <div class="container-fluid">
    <form method="POST" >
      {% csrf_token %}

      <div class="pload">
        <h5>Preferred Subjects</h5>
        <select class="psubject-select" name="psubjects" multiple="multiple">
          {% for subject in subjects %}
            <option value="{{ subject.pk }}">{{ subject }}</option>
          {% endfor %}

        </select>
      </div>
      <div class="ptime">
        <h5>Preferred Time <a href="#" data-toggle="tooltip" data-placement="right" title="Click and drag to select multiple preferred time">
            <!-- <span class="glyphicon glyphicon-question-sign"></span> -->
            <i class="far fa-question-circle" style="color:black"></i>
        </a></h5>

        <div class="container">
            <table class="table table-bordered" id="schedule-table" style="text-align: center">
                <th>TIME</th>
                {% for v, time in times %}
                <td>{{ time }}</td>
                {%endfor%}
                {% for val,day in days %}
                <tr>
                    <th>{{ day }}</th>
                    {% for v,time in times %}
                    <td><input type="checkbox" name="timedays" value="{{val}}-{{v}}" style="display:none"></td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
        <hr>


      </div>
      <button type="submit" class="btn btn-raised btn-success">Submit</button>

    </form>
  </div>
  </div>
</div>
{% endblock content %}
