{% extends 'load_manager/container/container.html' %}
{% load staticfiles %}
{% block content %}
{% for field in form %}
    <label>
        <input type="checkbox">
        <span>{{ field.name }}</span>
    </label>
{% endfor %}
{% block header %}
{% endblock header %}
<div class="container">
    <form method="POST" >
        {% csrf_token %}
        <h4>Preferred Schedule</h4><br>
        <div class="row">
          {% for val,day in days %}
          <div class="col-sm">
            {{ day }}<br>
            {% for v,time in times %}
                <div class="checkbox p">
                  <label><input type="checkbox" name="timedays" value="{{val}}-{{v}}">{{ time }}</label>
                </div>
            {% endfor %}

          </div>
          {% endfor %}

        </div>

        <button type="submit" class="btn btn-raised btn-success">Submit</button>
    </form>
</div>

{% endblock content %}
