{% load staticfiles %}
<style>
  #schedule-table td.highlighted {
      background-color: red;
  }

  #schedule-table.table-bordered {
      border: 1 px solid black;
      margin-top: 20px;
  }

  #schedule-table.table-bordered > thead > tr > th{
      border:1px solid black;
  }
  #schedule-table.table-bordered > tbody > tr > th{
      border:1px solid black;
  }
  #schedule-table.table-bordered > tbody > tr > td{
      border:1px solid black;
  }

  .amber-textarea textarea.md-textarea:focus:not([readonly]) {
      border-bottom: 1px solid #ffa000;
      box-shadow: 0 1px 0 0 #ffa000;
  }
  .active-amber-textarea.md-form label.active {
      color: #ffa000;
  }
  .active-amber-textarea.md-form textarea.md-textarea:focus:not([readonly])+label {
      color: #ffa000; /* text on textarea */
  }
</style>

<div class="modal-header">
  <h4 class="modal-title">{{ title }}</h4>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form method="post" autocomplete="on">
  {% csrf_token %}
  <div class="modal-body">
    <form method="POST" >
      {% csrf_token %}
      <div class="ptime">
        <h5>Preferred Time <a href="#" data-toggle="tooltip" data-placement="right" title="Click and drag to select multiple preferred time">
            <!-- <span class="glyphicon glyphicon-question-sign"></span> -->
            <i class="far fa-question-circle" style="color:black"></i>
        </a></h5>

        <div class="container table-responsive p-2">
            <table class="table table-bordered" id="schedule-table" style="text-align: center">
                <th>TIME</th>
                {% for v, time in times %}
                <td class="time">{{ time }}</td>
                {%endfor%}
                {% for val,day in days %}
                <tr>
                    <th>{{ day }}</th>
                    {% for v,time in times %}
                    <td><input type="checkbox" name="timedays" value="{{val}}-{{v}}" style="display:none"></td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
        <hr>


      </div>
      <button type="submit" class="btn btn-raised btn-success">Submit</button>

    </form>
  </div>


  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <a href="{% url 'generate_semester_offering' %}">
      <button id="generate" class="btn btn-primary btn-raised" type="button">Generate offering</button>
    </a>
  </div>
  <script type="text/javascript">
  $("#schedule-table").each(function() { // invert tr and td
      var $this = $(this);
      var newrows = [];
      $this.find("tr").each(function(){
          var i = 0;
          $(this).find("td, th").each(function(){
              i++;
              if(newrows[i] === undefined) { newrows[i] = $("<tr></tr>"); }
              if(i == 1)
                  newrows[i].append("<th>" + this.innerHTML  + "</th>");
              else
                  newrows[i].append("<td>" + this.innerHTML  + "</td>");
          });
      });
      $this.find("tr").remove();
      $.each(newrows, function(){
          $this.append(this);
      });
  });

      var isMouseDown = false,
          isHighlighted;

      $("#schedule-table input:checkbox").click(function() {
          return false;
      });
      $("#schedule-table td:not(:first-child)")
          .mousedown(function() {
              isMouseDown = true;
              $(this).toggleClass("highlighted");
              isHighlighted = $(this).hasClass("highlighted");
              $(this).find("input:checkbox").prop("checked", isHighlighted);
              // console.log($(this).find("input:checkbox").prop("checked"));
              // console.log($(this).find("input:checkbox").prop("value"));
              return false;
          })
          .mouseover(function() {
              if(isMouseDown) {
                  $(this).toggleClass("highlighted", isHighlighted);
                  $(this).find("input:checkbox").prop("checked", isHighlighted);
                  // console.log($(this).find("input:checkbox").prop("checked"));
                  // console.log($(this).find("input:checkbox").prop("value"));
              }
          })
          .bind("selectstart", function() {
              return false;
          })

      $(document).mouseup(function() {
          isMouseDown = false;
      });
  </script>
